/*BACKGROUNDS*/

.bgMain {
    font-family: Arial, sans-serif;
    background-image: url("../img/main.jpg" );
    background-color: #E0E1E6;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #000000;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bgLogin {
    font-family: Arial, sans-serif;
    background-image: url("../img/login.jpg" );
    background-color: rgba(194,194,194,1);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #000000;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bgMessage {
    font-family: Arial, sans-serif;
    background-image: url("../img/index.jpg" );
    background-color: rgba(194,194,194,1);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #000000;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.main {
    background-color: transparent;
    background-color: rgba(1, 1, 1, 0.4);
}

.paddingTweetBox{
    padding: 0%;
}
.paddingMainBG{
    padding: 0%;
}

.main a, h3, h4, span, label {
    color: #fff;
    font-weight: 900;
}

#tweetbox {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}